---
import { Image } from 'astro:assets';
import heroImageCarOne from '../assets/images/cars/nissan-pickup.png';
import heroImageCarTwo from '../assets/images/cars/nissan-versa.png';
import heroImageCarThree from '../assets/images/cars/volkswagen-jetta.png';
---

<section class="bg-white py-10 px-4 md:py-16 md:px-4">
  <div class="max-w-full md:max-w-4xl mx-auto text-center flex flex-col gap-4 md:gap-6">
    <h1 class="text-2xl font-extrabold text-gray-900 leading-tight mb-2 md:text-4xl md:mb-3">
      Publica tu coche seminuevo y llega al comprador ideal en minutos
    </h1>
    <h2 class="text-base font-semibold text-gray-700 mb-2 md:text-xl md:mb-2">
      Publica sin comisiones, sin intermediarios y 100% online.
    </h2>
    <p class="text-[#EF4444] font-medium mb-4 md:mb-4 text-sm md:text-base">
      Publica tu coche en minutos, sin pagar comisiones. ¡Llega a cientos de compradores reales hoy
      mismo!
    </p>
    <a
      href="https://app.vendotuautos.mx"
      class="inline-flex items-center justify-center gap-2 bg-gray-900 text-white w-full max-w-xs mx-auto px-4 py-4 rounded-md text-base md:text-sm hover:bg-gray-800 transition mb-2 md:mb-4"
    >
      Publicar mi coche <span class="text-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-5 w-5 inline-block ml-2"
        >
          <path
            d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z"
          ></path>
        </svg>
      </span>
    </a>
  </div>
</section>

<!-- Car Image Row -->
<div
  class="-mt-16 flex flex-col items-center gap-6 px-2 md:px-6 md:flex-row md:justify-center md:items-end md:gap-2"
>
  <div class="hidden md:flex flex-col items-center mb-0">
    <Image
      src={heroImageCarOne}
      alt="Nissan Pickup 2023"
      title="Nissan Pickup 2023"
      class="w-32 md:w-60 drop-shadow-xl"
      loading="eager"
    />
    <span class="text-sm font-semibold text-gray-700 mt-2 -mb-2">Nissan Pickup 2023</span>
  </div>
  <div class="flex flex-col items-center mb-0">
    <Image
      src={heroImageCarTwo}
      alt="Nissan Versa 2023"
      title="Nissan Versa 2023"
      class="w-64 md:w-96 drop-shadow-xl"
      loading="eager"
    />
    <span class="text-sm font-semibold text-gray-700 mt-2 -mb-2">Nissan Versa 2023</span>
  </div>
  <div class="hidden md:flex flex-col items-center mb-0">
    <Image
      src={heroImageCarThree}
      alt="Volkswagen Jetta 2023"
      title="Volkswagen Jetta 2023"
      class="w-32 md:w-60 drop-shadow-xl"
      loading="eager"
    />
    <span class="text-sm font-semibold text-gray-700 mt-2 -mb-2">Volkswagen Jetta 2023</span>
  </div>
</div>
